### Target Vendor/Product (support only Ralink RT3883/MT7620/MT7621/MT7628)
CONFIG_VENDOR=Ralink
CONFIG_PRODUCT=MT7621

### Target ProductID (board select, max 12 symbols)
CONFIG_FIRMWARE_PRODUCT_ID="NEWIFI3"
CONFIG_32M_REBOOT_FIXUP=y

### Linux kernel and toolchain
CONFIG_LINUXDIR=linux-3.4.x

############################################################
### Linux kernel configuration
############################################################

### Build ROOTFS_IN_RAM firmware mode (kernel+initramfs).
### Decreased firmware size, but more RAM used, slow boot.
### Also allow build image for load w/o flash from UART console
#CONFIG_FIRMWARE_TYPE_ROOTFS_IN_RAM=y

### Force MT7621 CPU clock to 900MHz (override Uboot settings)
#CONFIG_FIRMWARE_CPU_900MHZ=y

### Enable MT7621 CPU sleep mode (downclock to 220MHz on idle)
#CONFIG_FIRMWARE_CPU_SLEEP=y

### Kernel driver select for WiFi AP 2.4GHz
### 4.1 = MT7603E v4.1.0.0
CONFIG_FIRMWARE_WIFI2_DRIVER=4.1

### Kernel driver select for WiFi AP 5GHz
### 3.0 = MT7612E v3.0.4.0
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0

### Enable IPv6 support
CONFIG_FIRMWARE_ENABLE_IPV6=y

### Enable USB support启用USB支持
CONFIG_FIRMWARE_ENABLE_USB=y

### Enable NTFS filesystem support via Paragon "ufsd" driver. ~0.4MB
CONFIG_FIRMWARE_ENABLE_UFSD=y

### Enable FAT/FAT32 filesystem support.启用FAT/FAT32文件系统支持 ~0.1MB
CONFIG_FIRMWARE_ENABLE_FAT=y

### Enable exFAT (FAT/FAT32 too) filesystem support.启用exFAT(包含FAT/FAT32)文件系统支持 ~0.12MB
CONFIG_FIRMWARE_ENABLE_EXFAT=y

### Enable EXT2 filesystem support.启用EXT2文件系统支持 ~0.1MB
CONFIG_FIRMWARE_ENABLE_EXT2=y

### Enable EXT3 filesystem support.启用EXT3文件系统支持 ~0.2MB
CONFIG_FIRMWARE_ENABLE_EXT3=y

### Enable EXT4 (EXT3/2 too) filesystem support.启用EXT4(包含EXT3/2)文件系统支持 ~0.4MB
CONFIG_FIRMWARE_ENABLE_EXT4=y

### Enable XFS filesystem support.启用XFS文件系统支持 ~0.6MB
CONFIG_FIRMWARE_ENABLE_XFS=n

### Enable FUSE (filesystems in userspace) support.启用FUSE用户态文件系统支持 ~0.1MB
CONFIG_FIRMWARE_ENABLE_FUSE=n

### Enable swap files/partitions support.启用SWAP交换分区/文件支持 ~0.05MB
CONFIG_FIRMWARE_ENABLE_SWAP=y

### Include UVC camera modules. UVC摄像设备模块~0.2MB
CONFIG_FIRMWARE_INCLUDE_UVC=n

### Include USB-HID modules. USB-HID人体学接口设备模块~0.2MB
CONFIG_FIRMWARE_INCLUDE_HID=n

### Include USB-Serial modules (e.g. pl2303).USB-Serial串口设备模块(e.g. pl2303) ~0.03MB
CONFIG_FIRMWARE_INCLUDE_SERIAL=n

### Include USB-Audio modulesUSB-Audio音频设备模块 ~0.46MB
CONFIG_FIRMWARE_INCLUDE_AUDIO=n

### Include XFRM (IPsec) modules & iptables extension XFRM(IPsec)网络安全协议内核模块~ 0.2MB
CONFIG_FIRMWARE_INCLUDE_XFRM=n

### Include network QoS scheduling modules. QoS网络调度模块~0.2MB
CONFIG_FIRMWARE_INCLUDE_QOS=n

### Include IMQ module for shapers (a bit of performance degradation).IMQ流量塑形模块(轻微影响性能) ~0.02MB
CONFIG_FIRMWARE_INCLUDE_IMQ=n

### Include IFB module for shapers.IFB流量塑形模块 ~0.03MB
CONFIG_FIRMWARE_INCLUDE_IFB=n

### Include IPSet utility and kernel modules.IPSet实用程序和内核模块 ~0.4MB
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### Include NFSv3 server. NFS网络文件系统v3版本服务器~0.6MB
CONFIG_FIRMWARE_INCLUDE_NFSD=n

### Include NFSv3 client. NFS网络文件系统v3版本客户端~0.5MB
CONFIG_FIRMWARE_INCLUDE_NFSC=n

### Include CIFS (SMB) client.CIFS(SMB)网络文件共享客户端 ~0.2MB
CONFIG_FIRMWARE_INCLUDE_CIFS=n

############################################################
### Userspace configuration
############################################################

### Include WebUI international resources. Increased firmware size
CONFIG_FIRMWARE_INCLUDE_LANG_CN=y
#CONFIG_FIRMWARE_INCLUDE_LANG_BR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_CZ=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DA=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DE=y
#CONFIG_FIRMWARE_INCLUDE_LANG_ES=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FI=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_NO=y
#CONFIG_FIRMWARE_INCLUDE_LANG_PL=y
#CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
#CONFIG_FIRMWARE_INCLUDE_LANG_SV=y
#CONFIG_FIRMWARE_INCLUDE_LANG_UK=y

### Include NTFS-3G FUSE driver (instead of Paragon "ufsd").NTFS文件系统NTFS-3G驱动 ~0.4MB
CONFIG_FIRMWARE_INCLUDE_NTFS_3G=n

### Include LPR printer daemon. LPR打印程序~0.12MB
CONFIG_FIRMWARE_INCLUDE_LPRD=y

### Include USB-over-Ethernet printer daemon. USB-over-Ethernet打印程序~0.05MB
CONFIG_FIRMWARE_INCLUDE_U2EC=y

### Include "tcpdump" utility. TCPdump网络抓包工具~0.6MB
CONFIG_FIRMWARE_INCLUDE_TCPDUMP=n

### Include "hdparm" utility (allow set HDD spindown timeout and APM). HDparm硬盘高级电源管理(允许设置HDD减速超时和APM)~0.1MB
CONFIG_FIRMWARE_INCLUDE_HDPARM=y

### Include "parted" utility (allow make GPT partitions). Parted磁盘分区工具(允许创建GPT分区)~0.3MB
CONFIG_FIRMWARE_INCLUDE_PARTED=y

### Include SMB (and WINS) server. SMB网络文件共享服务器(包含WINS)~1.5MB
CONFIG_FIRMWARE_INCLUDE_SMBD=n

### using samba3.6 instead of samba3
CONFIG_FIRMWARE_INCLUDE_SMBD36=n

### Include WINS server only. WINS微软网络名称转换服务器~0.4MB
CONFIG_FIRMWARE_INCLUDE_WINS=n

### Include syslog for SMB and WINS server.SMB和WINS的系统日志 ~0.3MB
CONFIG_FIRMWARE_INCLUDE_SMBD_SYSLOG=n

### Include FTP server.FTP文件传送协议服务器 ~0.2MB
CONFIG_FIRMWARE_INCLUDE_FTPD=n

### Include alternative L2TP control client RP-L2TP. L2TP控制客户端RP-L2TP~0.1MB
CONFIG_FIRMWARE_INCLUDE_RPL2TP=n

### Include EAP-TTLS and EAP-PEAP authentication support. 802.1X扩展认证协议EAP-TTLS和EAP-PEAP支持.openssl ~1.2MB, wpa_supplicant +0.04MB
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y

### Include HTTPS support for DDNS client. openssl ~1.2MB
CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=n

### Include HTTPS support. 路由器网页界面HTTPS支持.openssl ~1.2MB
CONFIG_FIRMWARE_INCLUDE_HTTPS=n

### Include sftp-server. openssl ~1.2MB, sftp-server SFTP安全文件传送协议服务器~0.06MB
CONFIG_FIRMWARE_INCLUDE_SFTP=n

### Include dropbear SSH.dropbear网络安全外壳协议 ~0.3MB
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=n

### Make the dropbear symmetrical ciphers and hashes faster.dropbear对称密码和快速哈希 ~0.06MB
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=n

### Include OpenSSH instead of dropbear.OpenSSH网络安全外壳协议. openssl ~1.2MB, openssh ~1.0MB
CONFIG_FIRMWARE_INCLUDE_OPENSSH=y

### Include OpenVPN. IPv6 required. OpenVPN(需要IPv6支持)openssl ~1.2MB, openvpn ~0.4MB
CONFIG_FIRMWARE_INCLUDE_OPENVPN=y

### Include StrongSwan. XFRM modules ~0.2MB, strongswan.StrongSwan开源IPsec方案 ~0.7MB
CONFIG_FIRMWARE_INCLUDE_SSWAN=n

### Include Elliptic Curves (EC) to openssl library.OpenSSL椭圆曲线算法 ~0.1MB
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y

### Include "openssl" executable for generate certificates.OpenSSL可执行程序(用于生成证书) ~0.4MB
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y

### Include xUPNPd IPTV mediaserver.IPTV多媒体xUPNPd服务器 ~0.3MB
CONFIG_FIRMWARE_INCLUDE_XUPNPD=n

### Include Minidlna UPnP mediaserver.Minidlna多媒体UPnP服务器~1.6MB
CONFIG_FIRMWARE_INCLUDE_MINIDLNA=n

### Include Firefly iTunes mediaserver. Firefly多媒体服务器~1.0MB
CONFIG_FIRMWARE_INCLUDE_FIREFLY=n

### Include ffmpeg 0.11.x instead of 0.6.x for Minidlna and Firefly.FFMPEG多媒体解码库(Minidlna和Firefly需要此库) ~0.1MB
CONFIG_FIRMWARE_INCLUDE_FFMPEG_NEW=n

### Include Transmission torrent. openssl ~1.2MB, transmission.BT工具Transmission. ~1.5MB
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=n

### Include Transmission-Web-Control (advanced WebUI). BT工具Transmission网页界面~0.8MB
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION_WEB_CONTROL=n

### Include Aria2 download manager. openssl ~1.2MB, aria2 Aria2下载工具~3.5MB
CONFIG_FIRMWARE_INCLUDE_ARIA=n

### Include Aria2 WEB control. Aria2下载工具网页界面~0.7MB
CONFIG_FIRMWARE_INCLUDE_ARIA_WEB_CONTROL=n

### cURL网络数据传输命令行工具
CONFIG_FIRMWARE_INCLUDE_CURL=y

### scutclient校园网
CONFIG_FIRMWARE_INCLUDE_SCUTCLIENT=n

### Dr.com校园网
CONFIG_FIRMWARE_INCLUDE_GDUT_DRCOM=n

### dogcom校园网
CONFIG_FIRMWARE_INCLUDE_DOGCOM=n

### MiniEAP锐捷认证
CONFIG_FIRMWARE_INCLUDE_MINIEAP=n

### inode校园网认证
CONFIG_FIRMWARE_INCLUDE_NJIT_CLIENT=n

### ipv6穿透
CONFIG_FIRMWARE_INCLUDE_NAPT66=y

### SS科学上网(SS SSR Trojan)
CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=n

### SS服务器
CONFIG_FIRMWARE_INCLUDE_SSSERVER=n

### SoftEtherVPN服务器（没有集成这个asp界面请保持n）
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_SERVER=n

### SoftEtherVPN客户端（没有集成这个asp界面请保持n）
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CLIENT=n

### SoftEtherVPN命令行（没有集成这个asp界面请保持n）
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CMD=n

CONFIG_FIRMWARE_INCLUDE_DNSFORWARDER=n

### vlmcsd模拟KMS服务器
CONFIG_FIRMWARE_INCLUDE_VLMCSD=n

### ttyd网页版远程终端
CONFIG_FIRMWARE_INCLUDE_TTYD=y

### lrzsz文件传输工具
CONFIG_FIRMWARE_INCLUDE_LRZSZ=n

### Htop系统监控与进程管理
CONFIG_FIRMWARE_INCLUDE_HTOP=n

### nano文本编辑器命令行工具
CONFIG_FIRMWARE_INCLUDE_NANO=n

### Iperf3网络性能测试工具
CONFIG_FIRMWARE_INCLUDE_IPERF3=n

### Dump1090飞行轨迹
CONFIG_FIRMWARE_INCLUDE_DUMP1090=n

### RTL-SDR软件无线电
CONFIG_FIRMWARE_INCLUDE_RTL_SDR=n

### Mtr网络诊断工具
CONFIG_FIRMWARE_INCLUDE_MTR=n

### Socat多功能的网络工具
CONFIG_FIRMWARE_INCLUDE_SOCAT=n

### socks5代理工具
CONFIG_FIRMWARE_INCLUDE_SRELAY=n

### mentohust锐捷认证
CONFIG_FIRMWARE_INCLUDE_MENTOHUST=n

### frp内网穿透客户端
CONFIG_FIRMWARE_INCLUDE_FRPC=n

### frp内网穿透服务器
CONFIG_FIRMWARE_INCLUDE_FRPS=n

CONFIG_FIRMWARE_INCLUDE_TUNSAFE=n

CONFIG_FIRMWARE_INCLUDE_WIREGUARD=n
